<div class="menu">
    <div class="about">
        <a href="/about">
            <i class="fas fa-signature"></i>
            关于
        </a>
    </div>
    <div class="hashtags">
        <a href="/tags">
            <i class="fas fa-hashtag"></i>
            标签
        </a>
    </div>
    <div class="categories">
        <a href="/categories">
            <i class="far fa-folder-open"></i>
            分类
        </a>
    </div>
    <div class="hashdate">
        <a href="/dates">
            <i class="fa fa-calendar"></i>
            日期
        </a>
    </div>
    <div class="archive">
        <a href="/archive">
            <i class="fas fa-archive"></i>
            所有
        </a>
    </div>
</div>